In [21]:
import numpy as np
import pandas as pd
import os
import random

In [2]:
full_df = pd.read_csv("data/v4_8ops_iid_25k/full.tsv", sep='\t')
full_df

,Input,Output
0,pitcher : c d c m ; canister : d p d p o o ; j...,pitcher : c c ; pitcher : d ; pitcher : m ; ca...
1,thermos : h y h c ; beaker : p h p h ; SEPARAT...,thermos : h y h c ; beaker : p h p h o o o o o...
2,jar : d m m p ; mug : m h h ; decanter : y o o...,jar : d m m p d m m p ; mug : m h h ; decanter...
3,canister : d d g ; jar : b b ; decanter : a b ...,canister : d d g ; jar : b b ; decanter : a b ...
4,cup : d ; urn : g d g d ; SEPARATE unmix urn,cup : d ; urn : g g ; urn : d d ;
...,...,...
24995,glass : b p ; burette : y y ; SEPARATE destroy...,glass : b p ;
24996,burette : r o r ; jar : r v r p ; jug : m a a ...,burette : r o r ; jar : r v r p ; jug : m a a ;
24997,bottle : v y v c ; jug : r r ; burette : o o m...,bottle : v y v c ; jug : r r ; glass : p ;
24998,pitcher : y o y a a ; jar : b ; SEPARATE unmix...,pitcher : y o y a a ; jar : b ;
24999,pitcher : y y h ; urn : c r ; jar : o o ; urn ...,pitcher : y y h ; jar : o o ; urn : y y p ; ur...

In [24]:
def create_sys_split(df, word, shots, train_size = 20000, gen_size = 2000):
    df = df.sample(frac = 1)
    word_ls = []
    other_ls = []
    for i in range(len(df)):
        if word in df.loc[i]['Input']:
            word_ls.append((df.loc[i]['Input'], df.loc[i]['Output']))
        else:
            other_ls.append((df.loc[i]['Input'], df.loc[i]['Output']))
    word_ls.sort(key = lambda y: len(y[0].split()))
    
    train_ls = other_ls[:train_size-shots] + word_ls[len(word_ls)-shots:]
    gen_ls = word_ls[:len(word_ls)-shots]
    random.shuffle(gen_ls)
    gen_ls = gen_ls[:gen_size]
    
    train_df = pd.DataFrame.from_records(train_ls, columns = ['Input', 'Output'])
    train_df = train_df.sample(frac=1)
    
    gen_df = pd.DataFrame.from_records(gen_ls, columns = ['Input', 'Output'])
    gen_df = gen_df.sample(frac=1)
    
    path = 'data/' + word + '_' + str(shots)
    
    if not os.path.exists(path):
        os.makedirs(path)
    
    train_df.to_csv(path + '/train' + '.tsv', sep="\t", index=None)
    print("train size: ", len(train_df))
    gen_df.to_csv(path + '/gen' + '.tsv', sep="\t", index=None)
    print("Gen size: ", len(gen_df))

In [25]:
create_sys_split(full_df, "destroy", 1)
create_sys_split(full_df, "destroy", 10)
create_sys_split(full_df, "destroy", 100)
create_sys_split(full_df, "destroy", 1000)

train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000

In [26]:
create_sys_split(full_df, "add", 1)
create_sys_split(full_df, "add", 10)
create_sys_split(full_df, "add", 100)
create_sys_split(full_df, "add", 1000)

train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000

In [27]:
create_sys_split(full_df, "shift", 1)
create_sys_split(full_df, "shift", 10)
create_sys_split(full_df, "shift", 100)
create_sys_split(full_df, "shift", 1000)

train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000

In [28]:
create_sys_split(full_df, "unmix", 1)
create_sys_split(full_df, "unmix", 10)
create_sys_split(full_df, "unmix", 100)
create_sys_split(full_df, "unmix", 1000)

train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000
train size:  20000
Gen size:  2000